.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;

  h2 {
    font-size: var(--fs-milli);
    color: var(--clr-tertiary);
    text-align: center;
  }

  button {
    padding: 0.48em 1em;
    border: none;
    border-radius: 100vmax;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    font-size: var(--fs-milli);
    font-weight: var(--fw-500);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .icon {
      display: flex;

      svg {
        width: 19px;
        height: 19px;
        fill: var(--clr-light);
      }
    }

    &:hover {
      background-color: var(--clr-primary-hover);
    }

    &:active {
      background-color: var(--clr-primary-active);
    }

    &:focus-visible {
      outline: 2px solid var(--clr-primary);
    }
  }
}
