.container {
  width: 2rem;
  height: 2rem;
  border-radius: 100vmax;
  cursor: pointer;
  fill: var(--clr-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--clr-options-hover);
    fill: var(--clr-blue);
  }

  &:active {
    background-color: var(--clr-options-active);
    fill: var(--clr-blue);
  }

  svg {
    width: 1.1rem;
    height: 1.1rem;
  }
}