@use "abstracts/media-query" as *;
@use "abstracts/tooltips" as *;

.container {
  background-color: var(--clr-background);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1em;

  .user {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    span {
      font-size: var(--fs-nano);
      color: var(--clr-tertiary);
    }
  }

  .optionsContainer {
    margin-left: auto;
    position: relative;

    span {
      color: var(--clr-red);
    }

    .options {
      cursor: pointer;
      display: grid;
      place-items: center;
      border-radius: 100vmax;
      padding: 0.5em;
      transition: all 0.1s ease-in-out;
      @include tooltip(bottom, 4px);

      &:hover {
        background-color: var(--clr-trends-hover);
      }

      &:active {
        background-color: var(--clr-trends-active);
      }

      &:focus-visible {
        outline: 2px solid var(--clr-secondary);
        background-color: var(--clr-trends-hover);
      }

      svg {
        width: var(--fs-h2);
        height: var(--fs-h2);
        fill: var(--clr-secondary);
      }
    }
  }

  @include mq("small") {
    padding: 0 1rem;

    .backButton {
      display: none;
    }

    .user {
      .title {
        font-size: var(--fs-h2);
      }
    }
  }
}

.delete {
  color: red;
}
