@use "abstracts/media-query" as *;
@use "abstracts/tooltips" as *;

.container {
  background-color: var(--clr-background);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1em;

  .user {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    span {
      font-size: var(--fs-nano);
      color: var(--clr-tertiary);
    }
  }

  .optionsContainer {
    margin-left: auto;
    position: relative;

    span {
      color: var(--clr-red);
    }

    .options {
      cursor: pointer;
      display: grid;
      place-items: center;
      border-radius: 100vmax;
      padding: 0.5em;
      transition: all 0.1s ease-in-out;
      @include tooltip(bottom, 4px);

      &:hover {
        background-color: var(--clr-trends-hover);
      }

      &:active {
        background-color: var(--clr-trends-active);
      }

      &:focus-visible {
        outline: 2px solid var(--clr-secondary);
        background-color: var(--clr-trends-hover);
      }

      svg {
        width: var(--fs-h2);
        height: var(--fs-h2);
        fill: var(--clr-secondary);
      }
    }

    .deleteModal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--clr-modal-background);
      display: grid;
      place-items: center;
      padding: 30px;

      .modal {
        background-color: var(--clr-background);
        padding: 30px;
        border-radius: 1rem;
        max-width: 320px;
        opacity: 1;

        h1 {
          font-size: var(--fs-h2);
          font-weight: var(--fw-500);
          color: var(--clr-secondary);
          margin-bottom: 11px;
        }

        p {
          font-size: var(--fs-milli);
          font-weight: 400;
          color: var(--clr-tertiary);
          margin-bottom: 30px;
        }

        button {
          width: 100%;
          height: 42px;
          border-radius: 100vmax;
          text-align: center;
          font-size: var(--fs-micro);
          font-weight: 700;
          color: var(--clr-white);
          background-color: var(--clr-red);
          cursor: pointer;
          transition: all 0.1s ease-in-out;
        }

        .clear {
          margin-bottom: 11px;
        }

        .cancel {
          background-color: transparent;
          border: 1px solid var(--clr-tertiary);

          &:hover {
            background-color: var(--clr-nav-hover);
          }

          &:active {
            background-color: var(--clr-nav-active);
          }
        }
      }
    }
  }

  @include mq("small") {
    padding: 0 1rem;

    .backButton {
      display: none;
    }

    .user {
      .title {
        font-size: var(--fs-h2);
      }
    }
  }
}
