///////////////////
/// EXTRA SMALL
///////////////////

$xs-h1: 1.5rem;
$xs-h2: 1.25rem;
$xs-h3: 1.125rem;

$xs-large: 1.125rem;
$xs-medium: 1rem;
$xs-sm: 0.875rem;
$xs-xs: 0.75rem;

///////////////////
/// SMALL
///////////////////

$sm-h1: 1.75rem;
$sm-h2: 1.5rem;
$sm-h3: 1.25rem;

$sm-large: 1.25rem;
$sm-medium: 1.125rem;
$sm-sm: 1rem;
$sm-xs: 0.875rem;

///////////////////
/// MEDIUM
///////////////////

$md-h1: 2rem;
$md-h2: 1.75rem;
$md-h3: 1.5rem;

$md-large: 1.5rem;
$md-medium: 1.25rem;
$md-sm: 1.125rem;
$md-xs: 1rem;

///////////////////
/// LARGE
///////////////////

$lg-h1: 2.25rem;
$lg-h2: 2rem;
$lg-h3: 1.75rem;

$lg-large: 1.75rem;
$lg-medium: 1.5rem;
$lg-sm: 1.25rem;
$lg-xs: 1.125rem;

///////////////////
/// EXTRA LARGE
///////////////////

$xl-h1: 2.5rem;
$xl-h2: 2.25rem;
$xl-h3: 2rem;

$xl-large: 2rem;
$xl-medium: 1.75rem;
$xl-sm: 1.5rem;
$xl-xs: 1.25rem;
