///////////////////
/// EXTRA SMALL
///////////////////

$xs-kilo: 1.75rem; // 28px

$xs-h1: 1.3125rem; // 21px
$xs-h2: 1.125rem; // 18px
$xs-h3: 1rem; // 16px

$xs-base: 0.875rem; //14px

$xs-large: 0.9375rem; // 15px
$xs-milli: 0.8125rem; // 13px
$xs-micro: 0.75rem; // 12px
$xs-nano: 0.6875rem; // 11px
$xs-pico: 0.625rem; // 10px

///////////////////
/// SMALL
///////////////////

$sm-kilo: 1.8125rem; // 29px

$sm-h1: 1.375rem; // 22px
$sm-h2: 1.1875rem; // 19px
$sm-h3: 1.0625rem; // 17px

$sm-base: 0.9375rem; // 15px

$sm-large: 1rem; // 16px
$sm-milli: 0.875rem; // 14px
$sm-micro: 0.8125rem; // 13px
$sm-nano: 0.75rem; // 12px
$sm-pico: 0.6875rem; // 11px

///////////////////
/// MEDIUM
///////////////////

$md-kilo: 1.9375rem; // 31px

$md-h1: 1.4375rem; // 23px
$md-h2: 1.25rem; // 20px
$md-h3: 1.125rem; // 18px

$md-base: 1rem; // 16px

$md-large: 1.0625rem; // 17px
$md-milli: 0.9375rem; // 15px
$md-micro: 0.875rem; // 14px
$md-nano: 0.8125rem; // 13px
$md-pico: 0.75rem; // 12px

///////////////////
/// LARGE
///////////////////

$lg-kilo: 2.125rem; // 34px

$lg-h1: 1.5625rem; // 25px
$lg-h2: 1.375rem; // 22px
$lg-h3: 1.25rem; // 20px

$lg-base: 1.0625rem; // 17px

$lg-large: 1.125rem; // 19px
$lg-milli: 1rem; // 16px
$lg-micro: 0.9375rem; // 15px
$lg-nano: 0.875rem; // 14px
$lg-pico: 0.8125rem; // 13px

///////////////////
/// EXTRA LARGE
///////////////////

$xl-kilo: 2.3125rem; // 37px

$xl-h1: 1.75rem; // 28px
$xl-h2: 1.5rem; // 24px
$xl-h3: 1.375rem; // 22px

$xl-base: 1.1875rem; // 19px

$xl-large: 1.1875rem; // 20px
$xl-milli: 1.0625rem; // 17px
$xl-micro: 1rem; // 16px
$xl-nano: 0.9375rem; // 15px
$xl-pico: 0.875rem; // 14px
