// :root:has(.light) {
//   --clr-primary: #000;
//   --clr-secondary: #fff;
// }

// :root:has(.dark) {
//   --clr-primary: #fff;
//   --clr-secondary: #000;
// }

.light {
  --clr-primary: #000;
  --clr-secondary: #fff;
}

.dark {
  --clr-primary: #fff;
  --clr-secondary: #000;
}
