////////////////////////////////////////
// LIGHT THEME
////////////////////////////////////////
$light-background: #ffffff;

$light-primary: #1d9bf0;
$light-primary-hover: #1a8cd8;
$light-primary-active: #177cc0;
$light-primary-disabled: #8ecdf8;

$light-secondary: #0f1419;
$light-secondary-hover: #0a0d10;
$light-secondary-active: #050607;

$light-tertiary: #536471;

$light-nav-hover: #e7e7e8;
$light-nav-active: #cfd0d1;

$light-trends-background: #f7f9f9;
$light-trends-hover: #eff1f1;
$light-trends-active: #e6e7e7;

$light-connect-background: #f7f9f9;
$light-connect-hover: #eff1f1;
$light-connect-active: #ebf0f2;

$light-connect-button-hover: #272c30;
$light-connect-button-active: #3f4347;

$light-options-hover: #e1eef6;
$light-options-active: #d2ebfc;

$light-tweet-hover: #f7f7f7;

$light-comment-hover: #E1EEF6;
$light-comment-active: #D2EBFC;

$light-heart-hover: #F7E0EB;
$light-heart-active: #FED1E6;

$light-retweet-hover: #DEF1EB;
$light-retweet-active: #CCF1E5;

$light-search-background: #eff3f4;

$light-logo: #1d9bf0;
$light-logo-hover: #e8f5fd;
$light-logo-active: #d2ebfc;

$light-border: #eff3f4;
$light-auth-border: #cfd9de;

$light-signout-background: #999999;
$light-signout-logout-hover: #272C30;
$light-signout-logout-active: #3F4347;
$light-signout-cancel-hover: #E7E7E8;
$light-signout-cancel-active: #CFD0D1;

$light-message-background: #EFF3F4;
$light-conversation-actions-hover: #E8F5FD;
$light-conversation-actions-active: #D2EBFC;
$light-conversation-delete-hover: #FEE8EA;
$light-conversation-delete-active: #FDD3D5;

////////////////////////////////////////
// DARK THEME
////////////////////////////////////////

$dark-background: #000000;

$dark-primary: #1d9bf0;
$dark-primary-hover: #1a8cd8;
$dark-primary-active: #177cc0;
$dark-primary-disabled: #8ecdf8;

$dark-secondary: #e7e9ea;
$dark-secondary-hover: #f0f1f1;
$dark-secondary-active: #f7f8f8;

$dark-tertiary: #71767b;

$dark-nav-hover: #181818;
$dark-nav-active: #2e2f2f;

$dark-trends-background: #16181c;
$dark-trends-hover: #1d1f23;
$dark-trends-active: #26282c;

$dark-connect-background: #16181c;
$dark-connect-hover: #1d1f23;
$dark-connect-active: #141618;

$dark-connect-button-hover: #d7dbdc;
$dark-connect-button-active: #bfc2c3;

$dark-options-hover: #0a171f;
$dark-options-active: #061f30;

$dark-tweet-hover: #080808;

$dark-comment-hover: #0A171F;
$dark-comment-active: #061F30;

$dark-heart-hover: #200914;
$dark-heart-active: #32051A;

$dark-retweet-hover: #071A14;
$dark-retweet-active: #002519;

$dark-search-background: #202327;

$dark-logo: #d6d9db;
$dark-logo-hover: #031018;
$dark-logo-active: #061f30;

$dark-border: #2f3336;
$dark-auth-border: #333639;

$dark-signout-background: #242D34;
$dark-signout-logout-hover: #D7DBDC;
$dark-signout-logout-active: #BFC2C3;
$dark-signout-cancel-hover: #181919;
$dark-signout-cancel-active: #303131;

$dark-message-background: #2F3336;
$dark-conversation-actions-hover: #031018;
$dark-conversation-actions-active: #061F30;
$dark-conversation-delete-hover: #190305;
$dark-conversation-delete-active: #310709;

////////////////////////////////////////
// DIM THEME
////////////////////////////////////////

$dim-background: #15202b;

$dim-primary: #1d9bf0;
$dim-primary-hover: #1a8cd8;
$dim-primary-active: #177cc0;
$dim-primary-disabled: #8ecdf8;

$dim-secondary: #f7f9f9;
$dim-secondary-hover: #D7DBDC;
$dim-secondary-active: #BFC2C3;

$dim-tertiary: #808d9a;

$dim-nav-hover: #2c3640;
$dim-nav-active: #424c54;

$dim-trends-background: #1e2732;
$dim-trends-hover: #252e38;
$dim-trends-active: #2e3640;

$dim-connect-background: #1e2732;
$dim-connect-hover: #252e38;
$dim-connect-active: #17202a;

$dim-connect-button-hover: #d7dbdc;
$dim-connect-button-active: #bfc2c3;

$dim-options-hover: #162d3f;
$dim-options-active: #173952;

$dim-tweet-hover: #1c2732;

$dim-comment-hover: #1C3345;
$dim-comment-active: #173952;

$dim-heart-hover: #32253A;
$dim-heart-active: #431F3C;

$dim-retweet-hover: #19363A;
$dim-retweet-active: #113F3B;

$dim-search-background: #2c3640;

$dim-logo: #ffffff;
$dim-logo-hover: #162d3f;
$dim-logo-active: #173952;

$dim-border: #38444d;
$dim-auth-border: #425364;

$dim-signout-background: #31404E;
$dim-signout-logout-hover: #D7DBDC;
$dim-signout-logout-active: #BFC2C3;
$dim-signout-cancel-hover: #2B3640;
$dim-signout-cancel-active: #414B53;

$dim-message-background: #3D5466;
$dim-conversation-actions-hover: #162D3F;
$dim-conversation-actions-active: #173952;
$dim-conversation-delete-hover: #2C202C;
$dim-conversation-delete-active: #42212B;

////////////////////////////////////////
// COLORS
////////////////////////////////////////

// blue
$blue-primary: #1d9bf0;
$blue-primary-hover: #1a8cd8;
$blue-primary-active: #177cc0;
$blue-primary-disabled: #8ecdf8;
$blue-primary-background: #173952;


// yellow
$yellow-primary: #FFD400;
$yellow-primary-hover: #E6BF00;
$yellow-primary-active: #CCAA00;
$yellow-primary-disabled: #897A16;
$yellow-primary-background: #444422;


// rose
$rose-primary: #F91880;
$rose-primary-hover: #E01673;
$rose-primary-active: #C71366;
$rose-primary-disabled: #861C55;
$rose-primary-background: #431f3c;

// purple
$violet-primary: #7856ff;
$violet-primary-hover: #6C4DE6;
$violet-primary-active: #6045CC;
$violet-primary-disabled: #463B95;
$violet-primary-background: #292a55;

// orange
$orange-primary: #FF7A00;
$orange-primary-hover: #E66E00;
$orange-primary-active: #CC6200;
$orange-primary-disabled: #894D16;
$orange-primary-background: #443222;

// green
$green-primary: #00BA7C;
$green-primary-hover: #00A770;
$green-primary-active: #009563;
$green-primary-disabled: #0B6D53;
$green-primary-background: #113f3b;