// !TODO - move tooltip to opposite side if it's too close to the edge of the screen

$delay: 0.5s;

@mixin tooltip($position: bottom, $offset: 0) {
  position: relative;

  &::after {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-tertiary);
    color: var(--clr-light);
    font-size: var(--fs-pico);
    border-radius: 0.2em;
    padding: 0.2em 0.3em;
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;

    @if $position == bottom {
      top: 100%;
      margin-top: $offset;
    }

    @if $position == top {
      bottom: 100%;
      margin-bottom: $offset;
    }
  }

  &:hover::after {
    visibility: visible;
    opacity: 0.9;
    transition-delay: $delay;
    -moz-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    -o-transition-delay: $delay;
  }

  &:focus-visible::after {
    visibility: visible;
    opacity: 0.9;
  }
}

@mixin hide-tooltip {
  &::after {
    content: none;
  }
}
