.container {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100vmax;
  padding: 0.5rem;
  cursor: pointer;
  fill: var(--clr-tertiary);

  &:hover {
    background-color: var(--clr-options-hover);
    fill: var(--clr-primary);
  }

  &:active {
    background-color: var(--clr-options-active);
  }
}
