.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999;
  display: grid;
  place-items: center;
  background-color: var(--clr-modal-background);
  cursor: default;

  .modal {
    background-color: var(--clr-background);
    max-width: 320px;
    padding: 30px;
    border-radius: 1rem;

    h1 {
      font-size: var(--fs-h2);
      font-weight: var(--fw-500);
      margin-bottom: 8px;
    }

    p {
      font-size: var(--fs-milli);
      color: var(--clr-tertiary);
      margin-bottom: 2rem;
      line-height: 1.4;
    }

    button {
      width: 100%;
      padding: 0.9em;
      border-radius: 100vmax;
      font-size: var(--fs-milli);
      font-weight: var(--fw-600);
      cursor: pointer;
    }

    .unfollow {
      background-color: var(--clr-secondary);
      color: var(--clr-background);
      margin-bottom: 0.8rem;

      &:hover {
        background-color: var(--clr-secondary-hover);
      }

      &:active {
        background-color: var(--clr-secondary-active);
      }
    }

    .cancel {
      color: var(--clr-secondary);
      border: 1px solid var(--clr-border);

      &:hover {
        background-color: var(--clr-trends-hover);
      }

      &:active {
        background-color: var(--clr-trends-active);
      }
    }
  }
}
