.container {
  height: 32px;
  width: 32px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-trends-hover);
  }

  &:active {
    background-color: var(--clr-trends-active);
  }

  .icon {
    fill: var(--clr-primary);
    height: 19px;
    width: 19px;
  }

}