.container {
  border-radius: 100vmax;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0.5em;
  transition: background-color 0.2s ease-in-out;

  svg {
    height: var(--fs-h2);
    width: var(--fs-h2);
    fill: var(--clr-primary);
  }

  &:hover {
    background-color: var(--clr-trends-hover);
  }

  &:active {
    background-color: var(--clr-trends-active);
  }
}
