.container {
  margin: 4px 0;
  display: grid;

  .imageContainer {
    position: relative;

    img {
      display: block;
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .close {
      position: absolute;
      top: 0.6rem;
      right: 0.6rem;
    }
  }
}

.two {
  grid-template-columns: 1fr 1fr;
  gap: 11px;

  .imageContainer {
    aspect-ratio: 0.85 / 1;
  }
}

.three {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "first second"
    "first third";
  gap: 11px;

  .imageContainer:nth-of-type(1) {
    grid-area: first;
    aspect-ratio: 0.85 / 1;
  }

  .imageContainer:nth-of-type(2) {
    grid-area: second;
    aspect-ratio: 1.76 / 1;
  }

  .imageContainer:nth-of-type(3) {
    grid-area: third;
    aspect-ratio: 1.76 / 1;
  }
}

.four {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "first second"
    "third fourth";
  gap: 11px;

  .imageContainer:nth-of-type(1) {
    grid-area: first;
    aspect-ratio: 1.76 / 1;
  }

  .imageContainer:nth-of-type(2) {
    grid-area: second;
    aspect-ratio: 1.76 / 1;
  }

  .imageContainer:nth-of-type(3) {
    grid-area: third;
    aspect-ratio: 1.76 / 1;
  }

  .imageContainer:nth-of-type(4) {
    grid-area: fourth;
    aspect-ratio: 1.76 / 1;
  }
}
