.container {
  padding: 0 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 11px;
  padding-bottom: 3px;

  .avatar {
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
    gap: 4px;

    .divider {
      width: 2px;
      min-height: 2rem;
      height: 100%;
      background-color: var(--clr-border);
    }
  }

  .userDetails {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 4px;

    .dot {
      color: var(--clr-tertiary);
    }
  }

  .tweet {
    margin-top: 0.2rem;

    .text {
      white-space: pre-wrap;
    }
  }

  .replyingTo {
    padding: 15px 0;
  }
}
