.container {
  display: block;
  margin-top: 11px;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid var(--clr-border);
  cursor: default;

  .userDetails {
    padding: 11px 11px 4px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    place-content: start;
    gap: 2px;
    margin-bottom: 4px;

    .avatar {
      margin-right: 4px;
      width: var(--quoted-tweet-avatar-width);

      * {
        width: 100%;
        height: 100%;
      }
    }

    .name {
      font-size: var(--fs-milli);
      color: var(--clr-secondary);
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .username {
      font-size: var(--fs-milli);
      color: var(--clr-tertiary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dot {
      margin-inline: 0.1rem;
      color: var(--clr-tertiary);
    }

    .date {
      font-size: var(--fs-milli);
      color: var(--clr-tertiary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .verified {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 1rem;
        height: 1rem;
        fill: var(--clr-blue);
        cursor: pointer;
      }
    }
  }

  .text {
    font-size: var(--fs-milli);
    margin: 0 11px 11px;
    white-space: pre-wrap;
    word-break: break-all;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
  }

  .media {
    overflow: hidden;
    border-radius: 0 0 15px 15px;
    margin-top: 11px;
  }
}
