@use "./abstracts/media-query" as *;

.container {
  position: relative;
  padding: 11px 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 11px;
  height: 100%;

  .left {
    .avatar {
      border-radius: 100vmax;
      &:has(:focus-visible) {
        outline: 2px solid var(--clr-primary-disabled);
      }
    }
  }

  form {
    .content {
      overflow: auto;
      margin-bottom: 11px;
      max-height: calc(
        100dvh - var(--avatar-width) - var(--fs-nano) - var(--fs-h2) - 3em
      );

      &::-webkit-scrollbar {
        display: none;
      }

      .text {
        max-height: 720px;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 12px 0;

        textarea {
          overflow: hidden;
          resize: none;
          user-select: text;
          white-space: pre-wrap;
          overflow-wrap: break-word;
          width: 100%;
          font-size: var(--fs-h2);
          font-weight: var(--fw-400);
          color: var(--clr-secondary);

          &::placeholder {
            color: var(--clr-tertiary);
          }
        }
      }
    }

    .modalHeight {
      max-height: calc(100dvh - 300px);
    }
  }
}
