@use "./abstracts/tooltips" as *;

.container {
  border-radius: 100vmax;
  @include tooltip(bottom, 4px);

  &:focus-visible {
    outline: 2px solid var(--clr-primary-disabled);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  .fileInput {
    display: none;
  }
}
