@use "abstracts/media-query" as *;
@use "abstracts/tooltips.scss" as *;

.container {
  @include tooltip(top, 4px);
  position: fixed;
  bottom: 5em;
  right: 1em;
  padding: 1em;
  z-index: 9999;
  background-color: var(--clr-primary);
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-primary-hover);
  }

  &:active {
    background-color: var(--clr-primary-active);
  }

  &:focus-visible {
    background-color: var(--clr-primary-hover);
    outline: 2px solid var(--clr-secondary);
  }

  svg {
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
    fill: var(--clr-light);
  }

  @include mq("small") {
    display: none;
  }
}
