@use "abstracts/media-query" as *;

.container {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 9999;
  background-color: var(--clr-primary);
  width: 53px;
  height: 53px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-primary-hover);
  }

  &:active {
    background-color: var(--clr-primary-active);
  }

  svg {
    width: 23px;
    height: 23px;
    fill: var(--clr-light);
  }

  @include mq("small") {
    display: none;
  }
}