@use "abstracts/media-query" as *;

.container {
  margin-top: 15px;
  background-color: var(--clr-primary);
  width: 53px;
  height: 53px;
  display: grid;
  place-items: center;
  border-radius: 100vmax;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-primary-hover);
  }

  &:active {
    background-color: var(--clr-primary-active);
  }

  .icon {
    display: grid;
    place-items: center;
  }

  .text {
    display: none;
  }

  svg {
    width: 23px;
    height: 23px;
    fill: var(--clr-light);
  }

  @include mq("xx-large") {
    width: 100%;
    max-width: 227px;
    height: 49px;

    .icon {
      display: none;
    }

    .text {
      display: grid;
      place-items: center;
      font-size: var(--fs-base);
      font-weight: 700;
      color: var(--clr-light);
    }
  }
}
