@use "abstracts/media-query" as *;
@use "abstracts/tooltips.scss" as *;

.container {
  margin: 1em 0;
  background-color: var(--clr-primary);
  display: grid;
  place-items: center;
  border-radius: 100vmax;
  cursor: pointer;
  padding: 0.75em;
  transition: background-color 0.2s ease-in-out;
  @include tooltip(bottom, 4px);

  &:hover {
    background-color: var(--clr-primary-hover);
  }

  &:active {
    background-color: var(--clr-primary-active);
  }

  &:focus-visible {
    background-color: var(--clr-primary-hover);
    outline: 2px solid var(--clr-secondary);
  }

  .icon {
    display: grid;
    place-items: center;
  }

  .text {
    display: none;
  }

  svg {
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
    fill: var(--clr-light);
  }

  @include mq("xx-large") {
    width: 100%;
    max-width: 230px;
    padding: 1em;
    @include hide-tooltip();

    .icon {
      display: none;
    }

    .text {
      display: grid;
      place-items: center;
      font-size: var(--fs-large);
      font-weight: var(--fw-700);
      color: var(--clr-light);
    }
  }
}
