.container {
  padding: 38px 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  p {
    font-size: var(--xs-milli);
    color: var(--clr-tertiary);
  }

  button {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    height: 32px;
    padding: 0 15px;
    border: none;
    border-radius: 100vmax;
    font-size: var(--xs-milli);
    font-weight: var(--fw-700);
    cursor: pointer;
  }
}
