@use "./abstracts/media-query" as *;
@use "abstracts/tooltips" as *;

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  padding-inline: 1em;

  form {
    height: 26px;
  }

  .options {
    cursor: pointer;
    border-radius: 100vmax;
    padding: 0.5em;
    display: grid;
    place-items: center;
    @include tooltip(bottom, 2px);

    &:hover {
      background-color: var(--clr-trends-hover);
    }

    &:active {
      background-color: var(--clr-trends-active);
    }

    &:focus-visible {
      outline: 2px solid var(--clr-secondary);
      background-color: var(--clr-trends-hover);
    }

    svg {
      width: var(--fs-h2);
      height: var(--fs-h2);
      fill: var(--clr-secondary);
    }
  }

  @include mq("small") {
    grid-template-columns: 1fr auto;

    .search {
      form {
        height: 100%;
      }
    }
  }
}

.back {
  border-radius: 100vmax;

  &:hover {
    background-color: var(--clr-trends-hover);
  }

  &:active {
    background-color: var(--clr-trends-active);
  }

  &:focus-visible {
    outline: 2px solid var(--clr-primary-disabled);
    background-color: var(--clr-trends-hover);
  }

  @include mq("small") {
    display: none;
  }
}
