@use "./abstracts/media-query" as *;
@use "abstracts/tooltips" as *;

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  padding-inline: 1em;

  @include mq("small") {
    grid-template-columns: 1fr auto;

    .back {
      display: none;
    }
  }
}
