@use "./abstracts/media-query" as *;

.container {
  background: var(--clr-background);
  z-index: 2;
  position: sticky;
  top: 0;
  height: calc(var(--avatar-width) + var(--fs-nano));

  > div {
    height: 100%;
  }
}
