@use "abstracts/media-query" as *;

.container {
  background-color: rgba($color: var(--clr-background), $alpha: 0.9);
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  gap: 1rem;
  z-index: 99;

  position: sticky;
  top: 0;

  .home {
    color: var(--clr-secondary);
    font-weight: 700;
    cursor: pointer;
  }

  .star {
    fill: var(--clr-secondary);
    margin-left: auto;
    height: 2.2rem;
    width: 2.2rem;
    padding: 0.5rem;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background-color: var(--clr-nav-hover);
    }

    &:active {
      background-color: var(--clr-nav-active);
    }
  }

  @include mq("small") {
    .home {
      font-size: 1.2rem;
    }
  }
}