@use "./abstracts/media-query" as *;

.container {
  background-color: var(--clr-background);
  display: flex;
  align-items: center;
  gap: 2em;
  padding-inline: 1em;

  .user {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    span {
      font-size: var(--fs-nano);
      color: var(--clr-tertiary);
    }
  }
}
