@use "./abstracts/media-query" as *;

.container {
  background-color: var(--clr-background);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;

  .title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-500);
    color: var(--clr-secondary);
  }
}
