.container {
  height: 100dvh;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .conversation {
    overflow-y: auto;
  }

  .input {
    background-color: var(--clr-background);
    border-top: 1px solid var(--clr-border);
    padding: 6px 11px 4px;
    z-index: 99999;
  }
}
