@use "./abstracts/media-query" as *;

.container {
  position: fixed;
  width: min(100%, 280px);
  height: 100%;
  background-color: var(--clr-background);

  .profile {
    padding: 1rem;

    .accounts {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 0.5rem;

      .addAccount {
        display: grid;
        place-items: center;
        padding: 0.3em;
        cursor: pointer;
        border-radius: 100vmax;
        border: 1px solid var(--clr-tertiary);
        transition: background-color 0.2s ease-in-out;

        svg {
          width: var(--fs-h3);
          height: var(--fs-h3);
          fill: var(--clr-secondary);
        }

        &:hover {
          background-color: var(--clr-nav-hover);
        }

        &:active {
          background-color: var(--clr-nav-active);
        }

        &:focus-visible {
          outline: 2px solid var(--clr-secondary);
          background-color: var(--clr-nav-hover);
        }
      }
    }

    .stats {
      margin-top: 0.8rem;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  @include mq("small") {
    display: none;
  }
}

.hamburgerLink {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--fs-h2);
  font-weight: var(--fw-500);
  color: var(--clr-secondary);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: var(--clr-nav-hover);
  }

  &:active {
    background-color: var(--clr-nav-active);
  }

  &:focus-visible {
    outline: 2px solid var(--clr-primary-disabled);
    outline-offset: -2px;
    background-color: var(--clr-nav-hover);
  }

  svg {
    height: var(--fs-h1);
    width: var(--fs-h1);
    fill: var(--clr-secondary);
  }
}
