@use "abstracts/media-query.scss" as *;

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-fixed);
  background-color: var(--clr-background);
  border-top: 1px solid var(--clr-border);

  display: flex;
  align-items: center;
  justify-content: space-around;

  @include mq("small") {
    display: none;
  }
}
