@use "abstracts/media-query.scss" as *;

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0.2rem;
  background-color: #15202b;
  border-top: 1px solid #38444d;

  display: flex;
  align-items: center;
  justify-content: space-around;

  @include mq("small") {
    display: none;
  }
}
