@use "abstracts/media-query.scss" as *;
@use "abstracts/tooltips.scss" as *;

.container {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 4px 0;
  @include tooltip(top, 2px);

  &:hover {
    .navItem {
      background-color: var(--clr-nav-hover);
    }
  }

  &:active {
    .navItem {
      background-color: var(--clr-nav-active);
    }
  }

  &:focus-visible {
    .navItem {
      background-color: var(--clr-nav-hover);
      outline: 2px solid var(--clr-secondary);
    }
  }

  .navItem {
    padding: 0.75em;
    color: var(--clr-secondary);
    fill: var(--clr-secondary);
    border-radius: 100vmax;
    display: grid;
    transition: all 0.1s ease-in-out;

    .icon {
      display: grid;

      svg {
        height: var(--nav-icon-size);
        width: var(--nav-icon-size);
        fill: var(--clr-secondary);
      }
    }

    .text {
      font-size: var(--fs-h2);
      display: none;
    }

    .active {
      font-weight: var(--fw-700);
    }
  }

  @include mq("small") {
    &::after {
      bottom: unset;
      top: 100%;
    }
  }

  @include mq("xx-large") {
    @include hide-tooltip();
    justify-content: flex-start;

    .navItem {
      grid-template-columns: auto 1fr;

      .text {
        display: grid;
        align-items: center;
        padding: 0 0.75em;
      }
    }
  }
}
