@use "abstracts/media-query.scss" as *;

.container {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    .navItem {
      background-color: var(--clr-nav-hover);
    }
  }

  &:active {
    .navItem {
      background-color: var(--clr-nav-active);
    }
  }

  .navItem {
    color: var(--clr-secondary);
    fill: var(--clr-secondary);
    padding: 8px;
    display: grid;
    place-items: center;
    border-radius: 100vmax;
    transition: all 0.2s ease-in-out;

    .icon {
      width: 24.5px;
      height: 24.5px;

      svg {
        height: 100%;
        width: 100%;
        fill: var(--clr-secondary);
      }
    }

    .text {
      font-size: 19px;
      display: none;
    }

    .active {
      font-weight: 500;
    }
  }

  @include mq("small") {
    padding: 4px 6px;

    .navItem {
      padding: 11px
    }
  }

  @include mq("medium") {
    padding: 4px 10px;


  }

  @include mq("xx-large") {
    justify-content: flex-start;
    padding: 4px 0;

    .navItem {
      padding: 11px;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;

      .text {
        display: block;
        padding: 0 1rem;
      }
    }
  }
}