@use "abstracts/media-query.scss" as *;

.link {
  padding: 4px 0;
  cursor: pointer;

  &:hover {
    .container {
      background-color: var(--clr-nav-hover);
    }

    &:active {
      .container {
        background-color: var(--clr-nav-active);
      }
    }
  }

  .container {
    color: var(--clr-secondary);
    fill: var(--clr-secondary);
    padding: 8px;
    display: grid;
    place-items: center;
    border-radius: 100vmax;
    transition: all 0.2s ease-in-out;

    .icon {
      width: 24.5px;
      height: 24.5px;
    }

    span {
      font-size: 19px;
      display: none;
    }

    .active {
      font-weight: 500;
    }
  }

  @include mq("small") {
    .container {
      padding: 11px
    }
  }

  @include mq("xx-large") {
    padding: 4px 0;

    .container {
      padding: 11px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      display: flex;
      transition: all 0.2s ease-in-out;

      span {
        display: block;
        padding: 0 1rem;
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}