.link {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  padding: 0.3rem 0;

  &:hover {
    .container {
      background-color: #2c3640;
    }

    &:active {
      .container {
        background-color: #35414d;
      }
    }
  }

  .container {
    padding: 0.5rem;
    border-radius: 100vmax;

    .icon {
      width: 1.6rem;
      height: 1.6rem;
    }

    span {
      font-size: 1.2rem;
      display: none;
    }

    .active {
      font-weight: 500;
    }
  }

  @media screen and (min-width: 500px) {
    .container {
      padding: 0.7rem;
    }
  }

  @media screen and (min-width: 1300px) {
    padding: 0.2rem 0;
    .container {
      padding-right: 1.4rem;
      padding-left: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      display: flex;
      transition: all 0.2s ease-in-out;
      span {
        display: block;
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
