@use "abstracts/media-query" as *;

.container {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;

  svg {
    width: 19px;
    height: 19px;
    fill: var(--clr-secondary);
  }

  &:hover {
    background-color: var(--clr-trends-hover);
  }

  &:active {
    background-color: var(--clr-trends-active);
  }
}