@use "./abstracts/media-query" as *;

.container {
  position: fixed;
  top: calc(var(--avatar-width) + var(--fs-nano));
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-background);
  overflow: auto;

  .progressbar {
    height: 3px;
  }

  .placeholder {
    padding: 1.4em 0.8em;
    font-size: var(--fs-milli);
    color: var(--clr-tertiary);
    text-align: center;
  }

  .results {
    .hashtag {
      padding: 0.8em 1em;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 0.8em;
      cursor: pointer;

      .icon {
        padding: 0.6em;
        display: grid;
        place-items: center;

        svg {
          height: var(--fs-h2);
          width: var(--fs-h2);
          fill: var(--clr-secondary);
        }
      }

      .text {
        color: var(--clr-secondary);
        font-size: var(--fs-milli);
        font-weight: var(--fw-700);
      }
    }

    .people {
      .person {
        padding: 0.8em 1em;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.8em;
        cursor: pointer;
      }
    }

    .link {
      display: block;
      padding: 1em;
      font-size: var(--fs-milli);
      font-weight: var(--fw-400);
      color: var(--clr-secondary);
      cursor: pointer;
    }

    .border {
      background-color: var(--clr-border);
      height: 1px;
      margin: 4px 0;
    }
  }

  @include mq("small") {
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    border-radius: 0.5rem;
    box-shadow: 0 0rem 10px -5px var(--clr-tertiary);
    height: fit-content;
    min-height: 100px;
    max-height: min(800px, calc(100vh - 100px));
  }
}

.option {
  cursor: pointer;
  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: var(--clr-tweet-hover);
  }
}

.option {
  display: grid;
}

.selected {
  background-color: var(--clr-tweet-hover);
}
