@use "abstracts/media-query.scss" as *;

.container {
  display: none;
  position: sticky;
  top: 0;
  padding: 0 1.8rem 0 1.8rem;
  height: 100dvh;
  height: 100dvh;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  .search {
    background-color: var(--clr-background);
    position: sticky;
    top: 0;
    padding: 0.4rem 0 0.250rem 0;
  }

  .trends,
  .connect,
  .footer {
    margin-top: 0.8rem;
  }

  .trends {
    background-color: var(--clr-trends-background);
    border-radius: 1rem;
    overflow: hidden;
  }

  .connect {
    background-color: var(--clr-connect-background);
    border-radius: 1rem;
    overflow: hidden;
  }

  .registerForm {
    padding-top: 1rem;
  }

  @include mq("large") {
    display: block;
  }
}