.container {
  position: relative;
}

.comment,
.retweet,
.like,
.share {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
}

.icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  svg {
    fill: var(--clr-tertiary);
    cursor: pointer;
  }
}

.stats {
  font-size: 12px;
  color: var(--clr-tertiary);
}

.comment {
  &:hover {

    .icon {
      background-color: var(--clr-comment-hover);

      svg {
        fill: var(--clr-blue);
      }
    }

    .stats {
      color: var(--clr-blue);
    }
  }

  &:active {
    .icon {
      background-color: var(--clr-comment-active);

      svg {
        fill: var(--clr-blue);
      }
    }

    .stats {
      color: var(--clr-blue);
    }
  }
}



.retweet {
  &:hover {
    .icon {
      background-color: var(--clr-retweet-hover);

      svg {
        fill: var(--clr-green);
      }
    }

    .stats {
      color: var(--clr-green);
    }
  }

  &:active {
    .icon {
      background-color: var(--clr-retweet-active);

      svg {
        fill: var(--clr-green);
      }
    }

    .stats {
      color: var(--clr-green);
    }
  }
}

.like {
  &:hover {
    .icon {
      background-color: var(--clr-heart-hover);

      svg {
        fill: var(--clr-rose);
      }
    }

    .stats {
      color: var(--clr-rose);
    }
  }

  &:active {
    .icon {

      background-color: var(--clr-heart-active);

      svg {
        fill: var(--clr-rose);
      }
    }

    .stats {
      color: var(--clr-rose);
    }
  }


}

.share {
  &:hover {
    .icon {
      background-color: var(--clr-comment-hover);

      svg {
        fill: var(--clr-blue);
      }
    }
  }

  &:active {
    .icon {
      background-color: var(--clr-comment-active);

      svg {
        fill: var(--clr-blue);
      }
    }
  }
}

.liked {
  .icon {
    svg {
      fill: var(--clr-rose);
    }
  }

  .stats {
    color: var(--clr-rose);
  }
}

.retweeted {
  .icon {
    svg {
      fill: var(--clr-green);
    }
  }

  .stats {
    color: var(--clr-green);
  }
}