@use "abstracts/tooltips" as *;

.container {
  position: relative;
}

.comment,
.retweet,
.like,
.share {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  @include tooltip(bottom, 4px);
}

.icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  outline-offset: -2px;

  svg {
    fill: var(--clr-tertiary);
    cursor: pointer;
  }
}

.stats {
  font-size: var(--fs-nano);
  color: var(--clr-tertiary);
}

.comment {
  &:hover {
    .icon {
      background-color: var(--clr-comment-hover);

      svg {
        fill: var(--clr-blue);
      }
    }

    .stats {
      color: var(--clr-blue);
    }
  }

  &:active {
    .icon {
      background-color: var(--clr-comment-active);

      svg {
        fill: var(--clr-blue);
      }
    }

    .stats {
      color: var(--clr-blue);
    }
  }

  &:focus-visible {
    .icon {
      outline: 2px solid var(--clr-blue);
      background-color: var(--clr-comment-hover);

      svg {
        fill: var(--clr-blue);
      }
    }

    .stats {
      color: var(--clr-blue);
    }
  }
}

.retweet {
  &:hover {
    .icon {
      background-color: var(--clr-retweet-hover);

      svg {
        fill: var(--clr-green);
      }
    }

    .stats {
      color: var(--clr-green);
    }
  }

  &:active {
    .icon {
      background-color: var(--clr-retweet-active);

      svg {
        fill: var(--clr-green);
      }
    }

    .stats {
      color: var(--clr-green);
    }
  }

  &:focus-visible {
    .icon {
      outline: 2px solid var(--clr-green);
      background-color: var(--clr-retweet-hover);

      svg {
        fill: var(--clr-green);
      }
    }

    .stats {
      color: var(--clr-green);
    }
  }
}

.like {
  &:hover {
    .icon {
      background-color: var(--clr-heart-hover);

      svg {
        fill: var(--clr-rose);
      }
    }

    .stats {
      color: var(--clr-rose);
    }
  }

  &:active {
    .icon {
      background-color: var(--clr-heart-active);

      svg {
        fill: var(--clr-rose);
      }
    }

    .stats {
      color: var(--clr-rose);
    }
  }

  &:focus-visible {
    .icon {
      outline: 2px solid var(--clr-rose);
      background-color: var(--clr-heart-hover);

      svg {
        fill: var(--clr-rose);
      }
    }

    .stats {
      color: var(--clr-rose);
    }
  }
}

.share {
  &:hover {
    .icon {
      background-color: var(--clr-comment-hover);

      svg {
        fill: var(--clr-blue);
      }
    }
  }

  &:active {
    .icon {
      background-color: var(--clr-comment-active);

      svg {
        fill: var(--clr-blue);
      }
    }
  }

  &:focus-visible {
    .icon {
      outline: 2px solid var(--clr-blue);
      background-color: var(--clr-comment-hover);

      svg {
        fill: var(--clr-blue);
      }
    }
  }
}

.liked {
  .icon {
    svg {
      fill: var(--clr-rose);
    }
  }

  .stats {
    color: var(--clr-rose);
  }
}

.retweeted {
  .icon {
    svg {
      fill: var(--clr-green);
    }
  }

  .stats {
    color: var(--clr-green);
  }
}
