.container {
  display: flex;
  flex-wrap: wrap;
  color: var(--clr-tertiary);
  padding: 0 15px;

  a,
  span {
    padding: 2px 11px 2px 0;
    text-decoration: none;
    font-size: var(--fs-nano);
    transition: all 0.1s ease-in-out;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
