.container {
  margin: 2px 0;
  text-decoration: none;
  font-size: var(--fs-nano);
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    text-decoration: underline;
  }
}
