@use './abstracts/media-query' as *;

.container {
  background-color: var(--clr-background);
  z-index: 99;
  position: sticky;
  top: 0;
  height: 50px;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem 0 1rem;

  .search {
    width: 100%;

    form {
      height: 24px;
    }
  }

  .options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--clr-trends-hover);
    }

    &:active {
      background-color: var(--clr-trends-active);
    }

    svg {
      width: 19px;
      height: 19px;
      fill: var(--clr-secondary);
    }
  }

  @include mq('small') {
    grid-template-columns: 1fr 2rem;

    .search {
      form {
        height: 100%;
      }
    }
  }
}