@use "abstracts/media-query" as *;

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;

  .home {
    color: var(--clr-secondary);
    font-weight: 700;
    cursor: pointer;
  }

  .star {
    fill: var(--clr-secondary);
    margin-left: auto;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: var(--clr-nav-hover);
    }

    &:active {
      background-color: var(--clr-nav-active);
    }


  }

  @include mq("small") {
    .home {
      font-size: 1.2rem;
    }
  }
}