@use './abstracts/media-query' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-secondary);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include mq('small') {
    .title {
      font-size: 1.2rem;
    }
  }

}