body {
  min-height: 100vh;
  background-color: #15202b;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 500px) {
    grid-template-columns: min-content 1fr;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.svgIcon {
  fill: rgb(255, 255, 255);
}
