.container {
  .loading,
  .error {
    padding: 0.4rem;
  }

  .title {
    padding: 11px 15px;
    color: var(--clr-secondary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-700);
  }

  .showMore {
    width: 100%;
    border: none;
    padding: 1rem;
    color: var(--clr-primary);
    background-color: transparent;
    cursor: pointer;
    font-size: var(--fs-milli);

    &:hover {
      background-color: var(--clr-trends-hover);
    }

    &:active {
      background-color: var(--clr-trends-active);
    }
  }
}
