.container {
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: #252e38;
  }

  &:active {
    background-color: #2b333d;
  }

  .trend {
    padding: 0.4rem 0;

    .stats {
      font-size: 0.7rem;
      line-height: 1.7;
      color: #8b98a5;

      display: flex;
      align-items: center;
      gap: 0.4rem;

      .dot {
        display: block;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #8b98a5;
      }
    }

    .title {
      font-size: 0.9rem;
      font-weight: 500;
      color: #f7f7f7;
    }
  }
}
