.container {
  .loading,
  .error {
    padding: 0.4rem;
  }

  h2 {
    color: var(--clr-secondary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-700);
    padding: 0.75rem 1rem;
  }

  .showMore {
    display: block;
    padding: 1em;
    color: var(--clr-primary);
    cursor: pointer;
    font-size: var(--fs-base);
    border-radius: 0 0 1rem 1rem;
    outline-offset: -2px;

    &:hover {
      background-color: var(--clr-trends-hover);
    }

    &:active {
      background-color: var(--clr-trends-active);
    }

    &:focus-visible {
      outline: 2px solid var(--clr-primary-disabled);
      background-color: var(--clr-trends-hover);
    }
  }
}
