.container {
  background-color: var(--clr-trends-background);
  border-radius: 1rem;

  h1 {
    padding: 1rem;
    color: var(--clr-secondary);
    font-size: 1.2rem;
    font-weight: 700;
  }

  button {
    width: 100%;
    border: none;
    padding: 1rem;
    color: var(--clr-primary);
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    font-size: 0.9rem;
    border-radius: 0 0 1rem 1rem;

    &:hover {
      background-color: var(--clr-trends-hover);
    }

    &:active {
      background-color: var(--clr-trends-active);
    }
  }
}
