.container {
  padding: 0.2rem 0.6rem 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-trends-hover);
  }

  &:active:not(:focus-within) {
    background-color: var(--clr-trends-active);
  }

  .trend {
    padding: 0.4rem 0;

    .stats {
      font-size: 0.7rem;
      line-height: 1.7;
      color: var(--clr-tertiary);
      display: flex;
      align-items: center;
      gap: 0.4rem;

      .dot {
        display: block;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: var(--clr-tertiary);
      }
    }

    .title {
      font-size: 0.9rem;
      font-weight: 500;
      color: var(--clr-secondary);
    }
  }
  .options {
    margin-left: auto;
  }
}
