@use "abstracts/media-query.scss" as *;

.container {
  padding: 0.7rem;
  height: 3rem;
  width: 3rem;
  border-radius: 100vmax;
  margin-bottom: 0.5rem;
  fill: var(--clr-logo);
  cursor: pointer;

  &:hover {
    background-color: var(--clr-logo-hover);
  }

  &:active {
    background-color: var(--clr-logo-active);
  }

  @include mq("xx-large") {
    height: 3.2rem;
    width: 3.2rem;
  }
}
