@use "abstracts/media-query.scss" as *;

.container {
  height: 47px;
  width: 47px;
  border-radius: 100vmax;
  fill: var(--clr-logo);
  cursor: pointer;
  display: grid;
  place-items: center;

  &:hover {
    background-color: var(--clr-logo-hover);
  }

  &:active {
    background-color: var(--clr-logo-active);
  }

  svg {
    height: 28px;
    width: 28px;
  }
}