.container {
  padding: 0.7rem;
  height: 3rem;
  width: 3rem;
  border-radius: 100vmax;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: #162d3f;
  }

  &:active {
    background-color: #1e3e57;
  }

  @media screen and (min-width: 1300px) {
    height: 3.2rem;
    width: 3.2rem;
  }
}
