@use "abstracts/media-query.scss" as *;

.container {
  background-color: var(--clr-background);
  position: sticky;
  top: 0;
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  display: none;

  .logo,
  .tweetButton,
  .user {
    display: flex;
    justify-content: center;
  }

  .user {
    margin-top: auto;
  }

  @include mq("small") {
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    padding: 4px;
  }

  @include mq("medium") {
    padding: 4px 0.5em;
  }

  @include mq("xx-large") {
    .logo,
    .tweetButton,
    .user {
      justify-content: flex-start;
    }
  }
}
