@use "abstracts/media-query.scss" as *;

.container {
  position: sticky;
  top: 0;
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  display: none;

  .logo,
  .tweetButton,
  .user {
    display: flex;
    justify-content: center;
  }

  .user {
    margin-top: auto;
  }

  @include mq("small") {
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    border-right: 1px solid var(--clr-border);
    padding: 2px 4px;
  }

  @include mq("medium") {
    padding: 2px 11px;
  }

  @include mq("xx-large") {

    .logo,
    .tweetButton,
    .user {
      justify-content: flex-start;
    }
  }
}