@use "abstracts/media-query.scss" as *;

.container {
  padding: 0.8rem;
  color: #fff;
  background-color: var(--clr-primary);
  fill: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 1rem 0;

  &:hover {
    background-color: var(--clr-primary-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--clr-primary-active);
  }

  .icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .text {
    font-size: 1rem;
    font-weight: 500;
    display: none;
  }

  @include mq("xx-large") {
    border-radius: 100vmax;
    width: 100%;

    .icon {
      display: none;
    }

    .text {
      display: block;
    }
  }
}