.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: var(--clr-background);
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    svg {
      width: 4rem;
      height: 4rem;
      fill: var(--clr-blue);
      animation: breath 2s ease-in-out infinite;
    }
  }
}

@keyframes breath {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }
}
