.container {
  width: 32px;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;

  svg {
    width: 19px;
    height: 19px;
    fill: var(--clr-secondary);
  }

  &:hover {
    background-color: var(--clr-nav-hover);
  }

  &:active {
    background-color: var(--clr-nav-active);
  }
}