.container {
  max-width: 380px;
  padding: 38px 19px;
  margin: 30px auto;

  h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fs-700);
    margin-bottom: 8px;
    font-variant: var(--clr-secondary);
  }

  p {
    font-size: var(--fs-milli);
    font-weight: var(--fw-500);
    color: var(--clr-tertiary);
    margin-bottom: 28px;
  }
}
