.container {


  .settings {
    padding: 1rem;

    .heading {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }

    .subheading {
      text-align: center;
      color: var(--clr-tertiary);
      margin-bottom: 1.2rem;
    }
  }
}