@use "abstracts/tooltips" as *;

.container {
  .optionsButton {
    @include tooltip(bottom, 4px);
    border-radius: 100vmax;
    cursor: pointer;
    fill: var(--clr-tertiary);
    display: grid;
    place-items: center;
    padding: 0.5em;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--clr-options-hover);
      fill: var(--clr-primary);
    }

    &:active {
      background-color: var(--clr-options-active);
      fill: var(--clr-primary);
    }

    &:focus-visible {
      outline: 2px solid var(--clr-primary-disabled);
      background-color: var(--clr-options-hover);
      fill: var(--clr-primary);
    }

    svg {
      width: var(--fs-h3);
      height: var(--fs-h3);
      transition: fill 0.2s ease-in-out;
    }
  }
}

.delete {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  svg {
    fill: var(--clr-red);
  }

  color: var(--clr-red);
}
