.container {

  .loading,
  .error {
    padding: 4rem 0;
  }

  h1 {
    padding: 11px 15px;
    padding-bottom: 0.6rem;
    color: var(--clr-secondary);
    font-size: 19px;
    font-weight: 700;
  }

  .showMore {
    width: 100%;
    border: none;
    padding: 15px;
    color: var(--clr-primary);
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    font-size: 14px;

    &:hover {
      background-color: var(--clr-connect-hover);
    }

    &:active {
      background-color: var(--clr-connect-active);
    }
  }
}