.container {
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-connect-hover);
  }

  &:active:not(:focus-within) {
    background-color: var(--clr-connect-active);
  }

  .person {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    .avatar {
      width: 2.8rem;
      height: 2.8rem;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1rem;
      }
    }
    .info {
      line-height: 1.1;
      .name {
        font-size: 0.96rem;
        font-weight: 500;
        color: var(--clr-secondary);
      }

      .username {
        font-size: 0.8rem;
        color: var(--clr-tertiary);
      }
    }
  }

  .followButton {
    width: fit-content;
    background-color: var(--clr-secondary);
    color: var(--clr-background);
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 100vmax;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: var(--clr-connect-button-hover);
    }

    &:active {
      background-color: var(--clr-connect-button-active);
    }
  }
}
