.container {
  padding: 11px 15px;
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-connect-hover);
  }

  &:active:not(:focus-within) {
    background-color: var(--clr-connect-active);
  }



  .avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .name {
      font-size: 14px;
      font-weight: 700;
      color: var(--clr-secondary);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    .username {
      font-size: 14px;
      color: var(--clr-tertiary);
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .follow {
    margin-left: auto;
  }
}