.container {
  padding: 11px 15px;

  .following {
    margin-left: 22px;
    display: flex;
    align-items: center;
    gap: 11px;

    .icon {
      svg {
        width: 15px;
        height: 15px;
        fill: var(--clr-tertiary);
      }
    }

    .text {
      font-size: 12px;
      font-weight: 700;
      color: var(--clr-tertiary);
    }
  }

  .user {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 11px;

    .avatar {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      .name {
        font-size: 14px;
        font-weight: 500;
        color: var(--clr-secondary);
      }

      .username {
        font-size: 14px;
        font-weight: 400;
        color: var(--clr-tertiary);
      }
    }
  }
}