@use "abstracts/media-query" as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--clr-background);

  @include mq("medium") {
    max-width: 600px;
    height: min(650px, 90vh);
    border-radius: 1rem;
  }

  .createConversation {
    position: absolute;
    top: 0.8em;
    right: 1em;
    background-color: var(--clr-secondary);
    color: var(--clr-background);
    font-size: var(--fs-micro);
    font-weight: var(--fw-700);
    padding: 0.5em 1em;
    border-radius: 100vmax;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: var(--clr-secondary-hover);
    }

    &:active {
      background-color: var(--clr-secondary-active);
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;

      &:hover {
        background-color: var(--clr-secondary);
      }

      &:active {
        background-color: var(--clr-secondary);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--clr-secondary);
    }
  }
}
