.container {
  height: 50px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 2rem;

  .close {
    height: 32px;
    width: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--clr-nav-hover);
    }

    &:active {
      background-color: var(--clr-nav-active);
    }

    svg {
      height: 19px;
      width: 19px;
      fill: var(--clr-secondary);
    }
  }

  h1 {
    font-size: 19px;
    font-weight: 500;
    color: var(--clr-secondary);
  }
}