@use './abstracts/media-query' as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-modal-background);
  z-index: 100;
  display: grid;
  place-items: center;


  .modal {
    background-color: var(--clr-background);
    width: 100%;
    height: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 11px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--clr-background);
      border-radius: 0 1rem 1rem 0;
    }


    &::-webkit-scrollbar-thumb {
      background-color: var(--clr-nav-active);
      border-radius: 1rem;
    }

    header {
      position: sticky;
      top: 0;
      background-color: var(--clr-background);
      filter: opacity(0.9);
      backdrop-filter: blur(5px);
      padding: 0.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      .close {
        border-radius: 50%;
        overflow: hidden;
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        &:hover {
          background-color: var(--clr-nav-hover);
        }

        &:active {
          background-color: var(--clr-nav-active);
        }

        .arrow {
          display: grid;
          place-items: center;

          svg {
            width: 19px;
            height: 19px;
            fill: var(--clr-secondary);
          }
        }

        .x {
          display: none;
        }

        @include mq('medium') {
          .arrow {
            display: none;
          }

          .x {
            display: grid;
            place-items: center;

            svg {
              width: 19px;
              height: 19px;
              fill: var(--clr-secondary);
            }
          }
        }
      }

      .title {
        font-size: clamp(1rem, 2vw, 19px);
        font-weight: 600;
      }
    }

    .people {
      padding-bottom: calc(100% - 4rem);
    }




    @include mq('medium') {
      width: 600px;
      max-height: 600px;
      border-radius: 1rem;
    }
  }

}

.author {
  display: grid;
  grid-template-columns: 46px 1fr;
  gap: 0.6rem;
  padding: 11px 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-nav-hover);
  }

  &:active {
    background-color: var(--clr-nav-active);
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 46px;
    height: 46px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    .primary {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        display: flex;
        flex-direction: column;

        .fullName {
          font-size: 14px;
          font-weight: 500;
          color: var(--clr-secondary);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .username {
          font-size: 14px;
          font-weight: 400;
          color: var(--clr-tertiary);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .secondary {
      padding-top: 4px;

      .description {
        font-size: 14px;
        color: var(--clr-secondary);
      }
    }
  }
}