.container {
  padding: 1rem 0.2rem;
  border-bottom: 1px solid var(--clr-border);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;

  .statistic {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    .number {
      font-size: var(--fs-micro);
      font-weight: var(--fw-700);
      color: var(--clr-secondary);
    }

    .text {
      font-size: var(--fs-micro);
      color: var(--clr-tertiary);
    }
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}
