.container {
  position: relative;
  display: grid;
  gap: 11px;
  grid-template-columns: auto 1fr;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-tweet-hover);
  }

  .avatar {
    margin: 11px 0 0 15px;
    width: 38px;
  }

  .user_details {
    display: flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
    margin: 11px 50px 2px 0;

    .username_time {
      display: flex;
      align-items: center;

      .dot {
        margin-inline: 2px;
        color: var(--clr-tertiary);
      }

      .date {
        font-size: var(--fs-milli);
        color: var(--clr-tertiary);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media screen and (max-width: 360px) {
      flex-wrap: wrap;
    }
  }

  .options {
    position: absolute;
    top: 4px;
    right: 8px;
  }

  .replyingTo {
    margin: 0 15px 2px 0;
  }

  .tweet {
    padding-right: 15px;

    .text {
      font-size: var(--fs-milli);
      white-space: pre-wrap;
    }

    .media {
      overflow: hidden;
      border-radius: 15px;
      margin-top: 11px;
    }

    .quotedTweet {
      border-radius: 15px;
      transition: all 0.2s ease-in-out;

      &:hover {
        backdrop-filter: brightness(1.1);
      }
    }
  }

  .actions {
    max-width: 400px;
    margin-right: 8px;
  }
}
