.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;

  .tweetDetails {
    padding: 1rem 1rem 0 1rem;

    .user {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-bottom: 1rem;
    }

    .replying {
      margin-bottom: 0.6rem;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 0.3rem;

      .replyingTo {
        color: var(--clr-tertiary);
      }

      .replyingToUsername {
        color: var(--clr-primary);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .tweet {

      .text {
        font-size: 16px;
      }

      .media {
        overflow: hidden;
        border-radius: 15px;
        margin-top: 14px;
      }

    }

    .tweetActions {
      border-bottom: 1px solid var(--clr-border);
    }
  }

  .createComment {
    border-bottom: 1px solid var(--clr-border);
  }
}