.container {
  cursor: pointer;
  transition: background-color 0.2s linear;
  outline-offset: -2px;

  &:hover {
    background-color: var(--clr-tweet-hover);
  }

  &:focus-visible {
    outline: 2px solid var(--clr-primary-disabled);
    background-color: var(--clr-tweet-hover);
  }

  &:focus-within {
    background-color: var(--clr-tweet-hover);
  }

  .pin {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--fs-nano);
    font-weight: var(--fw-700);
    color: var(--clr-tertiary);
    padding: 0.5rem 0 0 3rem;

    svg {
      fill: var(--clr-tertiary);
      width: var(--fs-base);
      height: var(--fs-base);
    }
  }

  .tweetContainer {
    position: relative;
    display: grid;
    gap: 0.8em;
    grid-template-columns: auto 1fr;

    .left {
      .avatar {
        margin: 11px 0 0 15px;
        border-radius: 100vmax;

        &:has(:focus-visible) {
          outline: 2px solid var(--clr-primary-disabled);
        }
      }
    }

    .user_details {
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
      margin: 11px 50px 2px 0;

      .username_time {
        display: flex;
        align-items: center;
        gap: 4px;

        .dot {
          color: var(--clr-tertiary);
        }

        .date {
          font-size: var(--fs-milli);
          color: var(--clr-tertiary);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      @media screen and (max-width: 360px) {
        flex-wrap: wrap;
      }
    }

    .options {
      position: absolute;
      top: 4px;
      right: 8px;
    }

    .replyingTo {
      margin: 0 15px 2px 0;
    }

    .tweet {
      padding-right: 15px;

      .text {
        font-size: var(--fs-milli);
        white-space: pre-wrap;
      }

      .quotedTweet {
        border-radius: 15px;
        transition: all 0.2s ease-in-out;

        &:hover {
          backdrop-filter: brightness(1.1);
        }
      }
    }

    .actions {
      max-width: 400px;
      margin-right: 8px;
    }
  }
}
