.container {
  .tweetDetails {
    padding: 1rem;

    .user {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-bottom: 1rem;

      .avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }

      .userInfo {
        .name {
          display: flex;
          align-items: center;
          gap: 0.2rem;

          .text {
            font-size: 0.925rem;
            font-weight: 500;
          }

          .icon {
            width: 1.2rem;
            height: 1.2rem;
            fill: var(--clr-primary);
          }
        }

        .username {
          font-size: 0.9rem;
          color: var(--clr-tertiary);
        }
      }

      .option {
        margin-left: auto;
        margin-bottom: auto;
      }
    }

    .tweet {

      .text {
        font-size: 1.375rem;
        line-height: 1.5;
      }

      .images {
        position: relative;
        margin-top: 0.8rem;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
        display: grid;
        gap: 2px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: filter 0.2s ease-in-out;

          &:hover {
            filter: brightness(0.9);
          }
        }

        .showAll {
          display: none;
        }

      }
    }

    .one {
      grid-template-columns: 1fr;
    }

    .two {
      grid-template-columns: 1fr 1fr;
    }

    .three {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      img {
        aspect-ratio: 1/1;
      }
    }

    .four {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      img {
        aspect-ratio: 1/1;
      }
    }

    .many {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      img {
        aspect-ratio: 1/1;
      }


      .showAll {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: aquamarine;
      }
    }


    .tweetDate {
      padding: 1rem 0;
      font-size: 0.9rem;
      color: var(--clr-tertiary);
      border-bottom: 1px solid var(--clr-border);
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }

    .tweetStatistics {
      padding: 1rem 0.2rem;
      border-bottom: 1px solid var(--clr-border);
      display: flex;
      align-items: center;
      gap: 1.2rem;
      flex-wrap: wrap;

      .statistic {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        .number {
          font-size: 0.815rem;
        }

        .text {
          font-size: 0.815rem;
          color: var(--clr-tertiary);
        }
      }
    }

    .tweetActions {
      padding: 0.225rem 0;
      border-bottom: 1px solid var(--clr-border);
      display: flex;
      align-items: center;
      justify-content: space-around;

      svg {
        width: 21px;
        height: 21px;
      }
    }
  }

  .createComment {
    border-bottom: 1px solid var(--clr-border);
  }
}