.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;

  .tweetDetails {
    padding: 1rem 1rem 0 1rem;

    .user {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-bottom: 1rem;
    }

    .replying {
      margin-bottom: 0.6rem;
      font-size: var(--fs-milli);
      display: flex;
      align-items: center;
      gap: 0.3rem;

      .replyingTo {
        color: var(--clr-tertiary);
      }

      .replyingToUsername {
        color: var(--clr-primary);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .tweet {
      .text {
        font-size: var(--fs-large);
        white-space: pre-wrap;
      }

      .quotedTweet {
        border-radius: 15px;
        cursor: pointer;

        &:hover {
          background-color: var(--clr-tweet-hover);
        }
      }
    }

    .tweetActions {
      border-bottom: 1px solid var(--clr-border);
    }
  }

  .createComment {
    border-bottom: 1px solid var(--clr-border);
  }
}
