.container {
  padding: 0 0.5rem 0 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 3rem 1fr;
  cursor: pointer;
  max-width: 100%;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-tweet-hover);
  }


  .avatar {
    margin-top: 11px;
  }

  .header {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 4px;

    .dot {
      margin-inline: 0.1rem;
      color: var(--clr-tertiary);
    }

    .date {
      font-size: 0.9rem;
      color: var(--clr-tertiary);
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

    .options {
      margin-left: auto;
    }

  }

  .replying {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    flex-wrap: wrap;
    margin-bottom: 0.2rem;


    .replyingTo {
      color: var(--clr-tertiary);
    }

    .replyingToUsername {
      color: var(--clr-primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .tweet {
    padding-right: 0.5rem;

    .text {
      font-size: 14px;
    }

    .media {
      overflow: hidden;
      border-radius: 15px;
      margin-top: 11px;
    }
  }

  .actions {
    max-width: 400px;
  }
}