@use "./abstracts/media-query" as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--clr-background);
  padding-bottom: 3rem;

  .close {
    padding: 0.6em;
  }

  .icon {
    display: grid;
    place-items: center;
    padding: 1em 0;

    .comment,
    .retweet,
    .like,
    .follow {
      svg {
        width: calc(var(--fs-kilo) + var(--fs-base));
        height: calc(var(--fs-kilo) + var(--fs-base));
      }
    }

    .comment {
      svg {
        fill: var(--clr-blue);
      }
    }

    .retweet {
      svg {
        fill: var(--clr-green);
      }
    }

    .like {
      svg {
        fill: var(--clr-rose);
      }
    }

    .follow {
      svg {
        fill: var(--clr-blue);
      }
    }
  }

  .content {
    margin: 2em auto;
    width: 100%;
    max-width: 400px;

    .title {
      font-size: var(--fs-h1);
      font-weight: var(--fw-700);
      margin-bottom: 0.5em;
    }

    .subtitle {
      font-size: var(--fs-milli);
      line-height: 1.5em;
      color: var(--clr-tertiary);
      margin-bottom: 30px;
    }

    .buttons {
      display: grid;
      gap: 1em;

      button {
        background-color: var(--clr-primary);
        color: var(--clr-light);
        font-size: var(--fs-base);
        font-weight: var(--fw-700);
        display: grid;
        place-items: center;
        padding: 1em 0;
        border-radius: 100vmax;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }

      .signin {
        background-color: var(--clr-primary);
        border: 1px solid transparent;

        &:hover {
          background-color: var(--clr-primary-hover);
        }

        &:active {
          background-color: var(--clr-primary-active);
        }

        &:focus-visible {
          outline: 2px solid var(--clr-primary);
          background-color: var(--clr-primary-hover);
        }
      }

      .signup {
        background-color: var(--clr-background);
        border: 1px solid var(--clr-border);
        color: var(--clr-primary);

        &:hover {
          background-color: var(--clr-background-hover);
        }

        &:active {
          background-color: var(--clr-background-active);
        }

        &:focus-visible {
          outline: 2px solid var(--clr-primary);
          background-color: var(--clr-background-hover);
        }
      }
    }
  }

  @include mq("medium") {
    width: clamp(480px, 400px + 20vw, 600px);
    height: fit-content;
    border-radius: 1rem;
  }
}
