@use "./abstracts/media-query" as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--clr-background);
  padding-bottom: 3rem;
  display: grid;
  grid-template-rows: auto 1fr;

  .close {
    padding: 0.6em;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .icon {
    display: grid;
    place-items: center;
    padding: 15px 0;

    .comment,
    .retweet,
    .like,
    .follow {
      svg {
        width: 46px;
        height: 46px;
      }
    }

    .comment {
      svg {
        fill: var(--clr-blue);
      }
    }

    .retweet {
      svg {
        fill: var(--clr-green);
      }
    }

    .like {
      svg {
        fill: var(--clr-rose);
      }
    }

    .follow {
      svg {
        fill: var(--clr-blue);
      }
    }
  }

  .contentWrapper {
    display: grid;
    place-items: center;
    padding: 30px;

    .content {
      width: 100%;
      max-width: 400px;

      .title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-800);
        margin-bottom: 8px;
      }

      .subtitle {
        font-size: var(--fs-micro);
        font-weight: 400;
        letter-spacing: 0.5px;
        color: var(--clr-tertiary);
        margin-bottom: 30px;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;

        button {
          width: 100%;
          background-color: var(--clr-primary);
          color: var(--clr-light);
          font-size: var(--fs-base);
          font-weight: 700;
          display: grid;
          place-items: center;
          padding: 14px 0;
          border-radius: 100vmax;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
        }

        .signin {
          background-color: var(--clr-primary);
          border: 1px solid transparent;

          &:hover {
            background-color: var(--clr-primary-hover);
          }

          &:active {
            background-color: var(--clr-primary-active);
          }
        }

        .signup {
          background-color: var(--clr-background);
          border: 1px solid var(--clr-border);
          color: var(--clr-primary);

          &:hover {
            background-color: var(--clr-background-hover);
          }

          &:active {
            background-color: var(--clr-background-active);
          }
        }
      }
    }
  }

  @include mq("medium") {
    width: clamp(480px, 400px + 20vw, 600px);
    height: fit-content;
    border-radius: 1rem;
  }
}
