@use "./abstracts/media-query" as *;

.container {
  height: 100%;
  width: 100%;
  max-height: 100dvh;
  background-color: var(--clr-background);
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    padding: 0.6em;

    .logo {
      display: grid;
      place-content: center;

      svg {
        width: var(--fs-kilo);
        height: var(--fs-kilo);
        fill: var(--clr-secondary);
      }
    }

    .placeholder {
      width: var(--fs-kilo);
      height: var(--fs-kilo);
    }
  }

  .wrapper {
    margin-inline: auto;
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      width: 100%;
      max-width: 300px;
    }
  }

  .title {
    font-size: var(--fs-kilo);
    font-weight: var(--fw-500);
    margin-bottom: 1em;
  }

  .authButtons {
    display: grid;
    gap: 1.4em;
  }

  .divider {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 1em 0;

    .line {
      width: 100%;
      height: 1px;
      background-color: var(--clr-auth-border);
    }
  }

  form {
    .inputContainer {
      margin-bottom: 1.4em;
    }

    .submit {
      width: 100%;
      font-size: var(--fs-milli);
      font-weight: var(--fw-700);
      padding: 0.6em;
      margin-bottom: 1.4em;
      border-radius: 100vmax;
      display: grid;
      place-content: center;
      cursor: pointer;
      background-color: var(--clr-secondary);
      color: var(--clr-background);
      transition: background 0.2s ease-in-out;

      &:hover {
        background-color: var(--clr-secondary-hover);
      }

      &:active {
        background-color: var(--clr-secondary-active);
      }

      &:focus-visible {
        outline: 2px solid var(--clr-secondary);
        background-color: var(--clr-secondary-hover);
      }
    }
  }

  .forgotPassword {
    width: 100%;
    font-size: var(--fs-milli);
    font-weight: var(--fw-700);
    padding: 0.6em;
    margin-bottom: 1.4em;
    border-radius: 100vmax;
    display: grid;
    place-content: center;
    cursor: pointer;
    background-color: var(--clr-background);
    color: var(--clr-secondary);
    border: 1px solid var(--clr-auth-border);
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: var(--clr-nav-hover);
    }

    &:active {
      background-color: var(--clr-nav-active);
    }

    &:focus-visible {
      outline: 2px solid var(--clr-secondary);
      background-color: var(--clr-nav-hover);
    }
  }

  @include mq("medium") {
    width: 600px;
    height: fit-content;
    border-radius: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 8rem;
  }
}
