.container {
  background-color: var(--clr-background);
  border: 1px solid var(--clr-border);
  border-radius: 1rem;

  .title {
    padding: 11px 15px;
    font-size: 19px;
    font-weight: 700;

  }

  .description {
    padding: 0 11px;
    font-size: 12px;
    color: var(--clr-tertiary);
    line-height: 1.6;
  }

  .buttons {
    padding: 15px 11px;
    display: grid;
    gap: 11px;

    button {
      display: grid;
      grid-template-columns: auto auto;
      place-content: center;
      gap: 8px;
      height: 38px;
      border-radius: 100vmax;
      background-color: var(--clr-light);
      color: var(--clr-dark);
      border: 1px solid var(--clr-auth-border);
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: var(--clr-light-hover);
      }

      &:active {
        background-color: var(--clr-light-active);
      }

      .icon {
        svg {
          width: 1.2rem;
          height: 1.2rem;
        }
      }

      .text {
        display: grid;
        place-content: center;
      }
    }
  }

  .terms {
    padding: 0 11px 15px 11px;
    font-size: 12px;
    color: var(--clr-tertiary);
    line-height: 1.2;

    a {
      color: var(--clr-blue);
    }
  }
}