@use "abstracts/media-query" as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: var(--clr-background);
  padding: 2em;
  border-radius: 1rem;
  max-width: 320px;
  height: fit-content;

  .logo {
    display: grid;
    place-items: center;
    margin-bottom: 1em;

    svg {
      width: var(--fs-kilo);
      height: var(--fs-kilo);
      fill: var(--clr-primary);
    }
  }

  .title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-700);
    color: var(--clr-secondary);
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: var(--fs-milli);
    color: var(--clr-tertiary);
    line-height: 1.6;
    margin-bottom: 1.6em;
  }

  .buttons {
    display: grid;
    gap: 0.5em;

    button {
      font-size: var(--fs-milli);
      font-weight: var(--fw-700);
      color: var(--clr-background);
      border-radius: 100vmax;
      padding: 0.8em;
      cursor: pointer;
      display: grid;
      place-items: center;
      transition: background-color 0.2s ease-in-out;
    }

    .signout {
      background-color: var(--clr-secondary);
      color: var(--clr-background);

      &:hover {
        background-color: var(--clr-signout-logout-hover);
      }

      &:active {
        background-color: var(--clr-signout-logout-active);
      }

      &:focus-visible {
        outline: 2px solid var(--clr-secondary);
        background-color: var(--clr-signout-logout-hover);
      }
    }

    .cancel {
      border: 1px solid var(--clr-tertiary);
      background-color: var(--clr-background);
      color: var(--clr-secondary);

      &:hover {
        background-color: var(--clr-signout-cancel-hover);
      }

      &:active {
        background-color: var(--clr-signout-cancel-active);
      }

      &:focus-visible {
        outline: 2px solid var(--clr-secondary);
        background-color: var(--clr-signout-cancel-hover);
      }
    }
  }
}
