.container {
  .title {
    margin: 19px 0;
    font-size: 29px;
    font-weight: 600;
  }

  .buttonContainer {
    padding: 11px 0;

    button {
      padding: 0 15px;
      width: 100%;
      height: 38px;
      display: grid;
      grid-template-columns: auto auto;
      place-content: center;
      gap: 8px;
      border: 1px solid var(--clr-auth-border);
      background-color: var(--clr-light);
      color: var(--clr-dark);
      border-radius: 100vmax;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.20s ease-in-out;

      &:hover {
        background-color: var(--clr-auth-button-hover);
      }

      &:active {
        background-color: var(--clr-auth-button-active);
      }

      .icon {
        width: 19px;
        height: 19px;

        svg {
          width: 100%;
          height: 100%;
          fill: var(--clr-dark);
        }
      }

      .text {
        display: grid;
        place-content: center;
      }
    }
  }

  .createAccount {
    button {
      border: none;
      background-color: var(--clr-secondary);
      color: var(--clr-background);
    }
  }

  .divider {
    display: flex;
    align-items: center;
    gap: 8px;

    .line {
      width: 100%;
      height: 1px;
      background-color: var(--clr-auth-border);
    }
  }

  .terms {
    font-size: 12px;
    color: var(--clr-secondary);

    a {
      color: var(--clr-blue);
    }
  }

  .login {
    margin-top: 32px;
    font-size: 14px;
    color: var(--clr-secondary);

    a {
      color: var(--clr-blue);
    }
  }

}