@use "abstracts/media-query.scss" as *;

.container {
  margin-bottom: 11px;
  border-radius: 100vmax;
  padding: 11px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: var(--clr-nav-hover);
  }

  &:active {
    background-color: var(--clr-nav-active);
  }

  .avatar {
    width: 38px;
    height: 38px;
    border-radius: 100vmax;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .userInfo {
    display: none;
  }

  .options {
    display: none;
  }

  @include mq("xx-large") {
    width: 100%;
    align-items: center;

    .userInfo {
      margin-left: 11px;
      display: flex;
      flex-direction: column;

      .name {
        font-size: var(--fs-micro);
        font-weight: 500;
        color: var(--clr-secondary);
      }

      .username {
        font-size: var(--fs-micro);
        color: var(--clr-tertiary);
      }
    }

    .options {
      display: block;
      width: 20px;
      height: 20px;
      margin-left: auto;

      svg {
        width: 100%;
        height: 100%;
        fill: var(--clr-secondary);
      }
    }
  }
}
