@use "abstracts/media-query.scss" as *;

.container {
  margin-top: auto;
  width: 100%;
  margin-bottom: 0.6rem;


  display: flex;
  justify-content: center;

  .avatar {
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.6rem;
    border-radius: 100vmax;

    &:hover {
      cursor: pointer;
      background-color: var(--clr-nav-hover);
    }

    &:active {
      background-color: var(--clr-nav-active);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .userInfo {
    display: none;
  }

  .options {
    display: none;
  }

  @include mq("xx-large") {
    border-radius: 100vmax;
    align-items: center;
    gap: 0.6rem;
    padding: 0.4rem 0.6rem;

    &:hover {
      cursor: pointer;
      background-color: var(--clr-nav-hover);
    }

    &:active {
      background-color: var(--clr-nav-active);
    }

    .avatar {
      padding: 0;
      width: 2.4rem;
      height: 2.4rem;
    }

    .userInfo {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 500;
        color: var(--clr-secondary);
      }

      .username {
        font-size: 0.9rem;
        color: var(--clr-tertiary);
      }
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 1.2rem;
      height: 1.2rem;
      margin-left: auto;
      fill: var(--clr-tertiary);
    }
  }
}