.container {
  display: flex;
  column-gap: 0.75em;
  flex-wrap: wrap;
  color: var(--clr-tertiary);
  padding: 0 1em;
  transition: all 0.1s ease-in-out;

  .moreButton {
    font-size: var(--fs-nano);
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 1px solid var(--clr-secondary);
    }

    svg {
      width: 17px;
      height: 13px;
      fill: var(--clr-tertiary);
    }
  }

  span {
    margin: 2px 0;
    font-size: var(--fs-nano);
  }
}
