.container {
  label {
    margin: 4px;
    padding: 0 11px;
    height: 60px;
    border-radius: 6px;
    font-size: var(--fs-milli);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;

    .circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      transition: background-color 0.2s ease-in-out;

      .tick {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid var(--clr-tertiary);
        display: grid;
        place-items: center;

        svg {
          fill: var(--clr-light);
          display: none;
        }
      }
    }

    .text {
      margin-inline: auto;
    }
  }

  .theme-light {
    background-color: var(--clr-light);
    color: var(--clr-dark);

    &:hover {
      .circle {
        background-color: var(--clr-light-hover);
      }
    }

    &:active {
      .circle {
        background-color: var(--clr-light-active);
      }
    }
  }

  .theme-dim {
    background-color: var(--clr-dim);
    color: var(--clr-light);

    &:hover {
      .circle {
        background-color: var(--clr-dim-hover);
      }
    }

    &:active {
      .circle {
        background-color: var(--clr-dim-active);
      }
    }
  }

  .theme-dark {
    background-color: var(--clr-dark);
    color: var(--clr-light);

    &:hover {
      .circle {
        background-color: var(--clr-dark-hover);
      }
    }

    &:active {
      .circle {
        background-color: var(--clr-dark-active);
      }
    }
  }

  input[type="radio"] {
    position: absolute;

    &:hover + .theme_light {
      .circle {
        background-color: var(--clr-light-hover);
      }
    }

    &:hover + .theme_dim {
      .circle {
        background-color: var(--clr-dim-hover);
      }
    }

    &:hover + .theme_dark {
      .circle {
        background-color: var(--clr-dark-hover);
      }
    }

    &:active + .theme_light {
      .circle {
        background-color: var(--clr-light-active);
      }
    }

    &:active + .theme_dim {
      .circle {
        background-color: var(--clr-dim-active);
      }
    }

    &:active + .theme_dark {
      .circle {
        background-color: var(--clr-dark-active);
      }
    }

    &:focus-visible + label {
      .circle {
        border: 2px solid var(--clr-primary);
      }
    }

    &:checked + label {
      border: 2px solid var(--clr-primary);

      .circle {
        .tick {
          background-color: var(--clr-primary);
          border: 2px solid var(--clr-primary);

          svg {
            display: block;
          }
        }
      }
    }
  }
}
