.container {
  padding: 11px 15px;

  h1 {
    margin-top: 50px;
    font-size: var(--fs-h2);
    font-weight: var(--fw-700);
    color: var(--clr-secondary);
    margin-bottom: 11px;
  }

  .description {
    font-size: var(--fs-base);
    color: var(--clr-secondary);
    margin-bottom: 20px;
  }

  .warning {
    margin: 30px 0;
    padding: 20px;
    background-color: #fff9ea;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    border-radius: 4px;

    span {
      font-weight: var(--fw-700);
      background-color: var(--clr-yellow);
      color: var(--clr-background);
      padding: 11px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: grid;
      place-content: center;
    }

    p {
      font-size: var(--fs-micro);
      font-weight: 500;
      color: var(--clr-dark);
    }
  }

  .link {
    font-size: var(--fs-base);
    color: var(--clr-secondary);
    margin-bottom: 19px;

    a {
      color: var(--clr-blue);
      cursor: pointer;
    }
  }
}
