@use "./abstracts/media-query" as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-y: auto;
  background-color: var(--clr-background);
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;

  .header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: var(--fs-h2);
      font-weight: var(--fw-700);
      color: var(--clr-secondary);
    }

    .save {
      margin-left: auto;
      padding: 0.5rem 1rem;
      border-radius: 100vmax;
      background-color: var(--clr-secondary);
      color: var(--clr-background);
      font-size: var(--fs-micro);
      font-weight: var(--fw-700);
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      &:hover {
        background-color: var(--clr-secondary-hover);
      }

      &:active {
        background-color: var(--clr-secondary-active);
      }

      &:focus-visible {
        outline: 2px solid var(--clr-secondary);
        background-color: var(--clr-secondary-hover);
      }

      &:disabled {
        opacity: 0.6;
        cursor: default;

        &:hover {
          background-color: var(--clr-secondary);
        }

        &:active {
          background-color: var(--clr-secondary);
        }
      }
    }
  }

  .banner {
    position: relative;
    width: 100%;
    background-color: var(--clr-trends-background);
    aspect-ratio: 3/1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .actions {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 1rem;
    }

    .bannerInput {
      display: none;
    }
  }

  .avatar {
    $avatar-size: clamp(50px, 20vw, 110px);
    $avatar-border: 4px;
    $avatar-top: calc(-1 * #{$avatar-size} / 2 - #{$avatar-border});

    position: relative;
    top: $avatar-top;
    left: 1rem;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    border: 4px solid var(--clr-background);
    overflow: hidden;
    background-color: var(--clr-auth-border);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .chooseAvatar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .avatarInput {
      display: none;
    }
  }

  .form {
    padding: 0 1rem;
    display: grid;
    gap: 1rem;
  }

  @include mq("medium") {
    max-width: 600px;
    height: fit-content;
    max-height: 90vh;
    border-radius: 1rem;
  }
}
