.container {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--clr-border);

  button {
    padding: 0 15px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4px 1fr 4px;
    place-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--clr-nav-hover);
    }

    &:active {
      background-color: var(--clr-nav-active);
    }

    .text {
      display: grid;
      place-items: center;
      font-size: var(--fs-milli);
      font-weight: var(--fw-500);
      color: var(--clr-tertiary);
    }

    .line {
      background-color: transparent;
      height: 4px;
      border-radius: 100vmax;
    }

    .placeholder {
      height: 4px;
    }
  }

  .active {
    .text {
      color: var(--clr-secondary);
      font-weight: 700;
    }

    .line {
      background-color: var(--clr-primary);
    }
  }
}
