.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--clr-modal-background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: var(--clr-modal);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--clr-modal-hover);
    }

    &:active {
      background-color: var(--clr-modal-active);
    }

    svg {
      width: 21px;
      height: 21px;
      fill: var(--clr-light);
    }
  }

  .banner {
    width: 100%;
    aspect-ratio: 3 / 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .avatar {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
    }

  }
}