@use "abstracts/media-query" as *;

.nav {
  overflow: hidden;
}

.container {
  border-bottom: 1px solid var(--clr-border);
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  // move items with touch
  scroll-snap-type: x mandatory;
  // snap to items
  scroll-behavior: smooth;
  // smooth scrolling
  -webkit-overflow-scrolling: touch;

  @include mq("small") {
    grid-template-columns: 2fr 3fr 2fr 2fr;
  }
}
