$avatar-size: clamp(70px, 20vw, 146px);
$avatar-border: 4px;
$avatar-top: calc(-1 * #{$avatar-size} / 2 - #{$avatar-border});

.container {
  display: flex;
  flex-direction: column;

  .banner {
    aspect-ratio: 3/1;
    background-color: var(--clr-auth-border);

    .bannerButton {
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
      }
    }
  }

  .info {
    position: relative;

    .avatar {
      position: absolute;
      top: $avatar-top;
      left: 1rem;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 50%;
      border: 4px solid var(--clr-background);
      background-color: var(--clr-auth-border);

      .avatarButton {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;

        &:focus-visible {
          outline-offset: 4px;
          outline: 2px solid var(--clr-primary-disabled);
        }

        img {
          object-fit: cover;
          transition: all 0.2s ease-in-out;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }

    .editProfile {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
      flex-wrap: wrap;

      .editProfileButton {
        background-color: var(--clr-background);
        color: var(--clr-secondary);
        border: 1px solid var(--clr-auth-border);
        border-radius: 100vmax;
        padding: 0.5em 1em;
        font-size: var(--fs-milli);
        font-weight: var(--fw-700);
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: var(--clr-signout-cancel-hover);
        }

        &:active {
          background-color: var(--clr-signout-cancel-active);
        }

        &:focus-visible {
          outline: 2px solid var(--clr-secondary);
          background-color: var(--clr-signout-cancel-hover);
        }
      }
    }

    .user {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .name {
        h2 {
          font-size: var(--fs-h2);
          font-weight: var(--fw-700);
          color: var(--clr-secondary);
          margin-bottom: 0.2rem;
        }

        span {
          font-size: var(--fs-milli);
          color: var(--clr-tertiary);
        }
      }

      .bio {
        font-size: var(--fs-milli);
      }

      .locationAndJoined {
        display: flex;
        flex-wrap: wrap;

        .location,
        .website,
        .joined {
          font-size: var(--fs-milli);
          color: var(--clr-tertiary);
          margin-right: 1rem;
          display: flex;
          align-items: center;

          svg {
            width: var(--fs-h3);
            height: var(--fs-h3);
            fill: var(--clr-tertiary);
          }

          .text {
            margin-left: 4px;
          }
        }

        .website {
          cursor: pointer;

          a {
            color: var(--clr-primary);

            &:hover {
              text-decoration: underline;
            }

            &:focus-visible {
              text-decoration: underline;
            }
          }
        }
      }

      .stats {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        .stat {
          display: flex;
          align-items: center;
          gap: 4px;
          cursor: pointer;
          font-size: var(--fs-micro);
          color: var(--clr-tertiary);

          &:hover {
            text-decoration: underline;
            text-decoration-color: var(--clr-secondary);
          }

          &:focus-visible {
            text-decoration: underline;
            text-decoration-color: var(--clr-secondary);
          }
        }
        .number {
          font-weight: var(--fw-700);
          color: var(--clr-secondary);
        }
      }
    }
  }
}
