.container {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    filter: brightness(0.9);
  }

}