.container {
  overflow: hidden;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;

  .username {
    font-size: var(--fs-milli);
    color: var(--clr-tertiary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
