.container {
  font-size: var(--fs-milli);
  color: var(--clr-tertiary);
  display: flex;
  align-items: flex-end;

  svg {
    width: var(--fs-h3);
    height: var(--fs-h3);
    fill: var(--clr-tertiary);
  }

  .text {
    margin-left: 4px;
  }
}
