.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5%);
  max-width: 320px;
  background-color: var(--clr-background);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px -5px var(--clr-secondary);
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;


  .userInfo {
    .userImage {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .name {
      margin-top: 11px;
      font-weight: 500;
    }

    .username {
      font-size: 14px;
      color: var(--clr-tertiary);
    }
  }

  .userDetails {
    .stats {
      display: flex;
      gap: 1rem;

      .stat {
        display: flex;
        align-items: flex-end;
        gap: 0.3rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          text-decoration-style: solid;
        }

        .number {
          font-weight: 500;
          color: var(--clr-secondary);
          font-size: 0.850rem;
        }

        .text {
          color: var(--clr-tertiary);
          font-size: 0.825rem;
        }
      }
    }
  }
}