.container {
  position: relative;

  .name {

    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    .name {
      font-size: 14px;
      font-weight: 500;
      color: var(--clr-secondary);
    }

    .verified {
      margin-left: 0.2rem;

      svg {
        width: 17.5px;
        height: 17.5px;
        fill: var(--clr-primary);
      }
    }
  }
}