.container {
  font-size: var(--fs-milli);
  font-weight: var(--fw-500);
  color: var(--clr-secondary);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content min-content;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.hover {
  &:hover {
    text-decoration: underline;
  }
}
