@use "abstracts/tooltips" as *;

.container {
  position: relative;

  .sortButton {
    fill: var(--clr-secondary);
    border-radius: 100vmax;
    display: grid;
    place-content: center;
    padding: 0.5em;
    @include tooltip(bottom, 4px);

    svg {
      width: var(--fs-milli);
      height: var(--nav-milli);
      fill: var(--clr-secondary);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--clr-nav-hover);
    }

    &:active {
      background-color: var(--clr-nav-active);
    }

    &:focus-visible {
      outline: 2px solid var(--clr-primary-disabled);
      background-color: var(--clr-nav-hover);
    }
  }
}

.sortActions {
  .actionButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 1rem;
    font-size: var(--fs-milli);
    font-weight: 500;
    cursor: pointer;

    .icon {
      display: flex;
    }

    svg {
      width: 17.5px;
      height: 17.5px;
      fill: var(--clr-secondary);
    }

    &:hover {
      background-color: var(--clr-trends-hover);
    }

    &:active {
      background-color: var(--clr-trends-active);
    }
  }
}
