@mixin thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--clr-primary);
  border-radius: 50%;
  box-shadow:
    var(--clr-primary-opacity) 0px 0px 7px,
    var(--clr-primary-opacity) 0px 1px 3px 1px;
  transition: all 0.1s ease-in-out;
}

@mixin thumb-focus {
  width: 18px;
  height: 18px;
  outline-offset: 5px;
  box-shadow:
    var(--clr-primary-opacity) 0px 0px 7px,
    var(--clr-primary-opacity) 0px 1px 3px 1px;
  outline: 2px solid var(--clr-primary);
}

@mixin border-radius {
  border-radius: 100vmax;
}

.container {
  position: relative;
  display: grid;
  align-items: center;

  input[type="range"] {
    margin: 7.5px;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
    height: 4px;
    @include border-radius;

    &::-webkit-slider-thumb {
      @include thumb;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &:focus-visible {
      &::-webkit-slider-thumb {
        @include thumb-focus;
      }

      &::-moz-range-thumb {
        @include thumb-focus;
      }
    }
  }
}
