.container {
  margin-bottom: 12px;

  legend {
    color: var(--clr-tertiary);
    font-size: var(--fs-micro);
    font-weight: var(--fw-500);
    margin-bottom: 4px;
    line-height: 1.6;
  }

  .slider {
    background-color: var(--clr-trends-background);
    padding: 1em;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 15px;

    .small {
      font-size: var(--fs-micro);
    }

    .large {
      font-size: var(--fs-h2);
    }
  }
}
