.container {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 100vmax;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-primary-opacity);

    span {
      box-shadow: none;
    }
  }

  span {
    width: 12px;
    height: 12px;
    border-radius: 100vmax;
    box-shadow:
      var(--clr-primary-opacity) 0px 0px 7px,
      var(--clr-primary-opacity) 0px 1px 3px 1px;
  }

  .primaryColor {
    background-color: var(--clr-primary);
  }

  .secondaryColor {
    background-color: var(--clr-primary-disabled);
  }
}

.container:nth-of-type(1) {
  left: 0;
}

.container:nth-of-type(2) {
  left: calc(25% - 8px);
}

.container:nth-of-type(3) {
  left: calc(50%);
  transform: translateX(-50%);
}

.container:nth-of-type(4) {
  right: calc(25% - 8px);
}

.container:nth-of-type(5) {
  right: 0;
}
