@use "./abstracts/media-query" as *;

.container {
  h2 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--clr-tertiary);
    margin-bottom: 0.4rem;
  }

  .colors {
    background-color: var(--clr-trends-background);
    border-radius: 1rem;
    padding: 0.7rem 0;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 0.8rem;

    @include mq("medium") {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
