.container {
  padding: 0.7rem;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 100vmax;

  &:hover {
    background-color: #162d3f;
  }

  &:active {
    background-color: #1e3e57;
  }

  @media screen and (min-width: 1300px) {
    height: 1.8rem;
    width: 1.8rem;
    margin: 0;
  }
}
