.container {
  padding: 0.7rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100vmax;
  margin-bottom: 0.6rem;

  &:hover {
    background-color: #162d3f;
  }

  &:active {
    background-color: #1e3e57;
  }
}
