@use "./abstracts/media-query" as *;

.container {
  h2 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--clr-tertiary);
    margin-bottom: 0.4rem;
  }

  .themes {
    background-color: var(--clr-trends-background);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    @include mq("medium") {
      flex-direction: row;
      justify-content: space-between;

      button {
        width: 100%;
      }
    }
  }
}
