.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 0.8rem;
  color: var(--clr-tertiary);
  padding: 0 1rem;
  padding-bottom: 4rem;
  a,
  span {
    text-decoration: none;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    text-decoration: underline;
  }
}
