@use "abstracts/tooltips" as *;

.container {
  font-size: var(--fs-milli);
  color: var(--clr-tertiary);
  white-space: nowrap;
  @include tooltip(bottom, 2px);

  time {
    color: var(--clr-tertiary);
  }
}

.hover {
  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    text-decoration: underline;
  }
}
