.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 11px 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  .icon {
    display: flex;
  }

  svg {
    width: 17.5px;
    height: 17.5px;
    fill: var(--clr-secondary);
  }

  &:hover {
    background-color: var(--clr-trends-hover);
  }

  &:active {
    background-color: var(--clr-trends-active);
  }

}