.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;


  .loading {
    border: 4px solid #195D8D;
    border-top: 4px solid var(--clr-blue);
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}