.container {
  display: flex;
  justify-content: center;


  .loading {
    border: 4px solid #195D8D;
    /* Light grey */
    border-top: 4px solid var(--clr-blue);
    /* Blue */
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}